# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Database files
*.sqlite3
*.db

# Flask stuff
instance/

# Pytest
.cache
.pytest_cache/

# System files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/
*.swp
